body {
    font-family: var(--font-comic-relief);
    margin: 90px 200px 0px 200px;
}

a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: rgb(57, 121, 218);
}

video {
    max-height: 400px;
}