main {
    font-family: var(--font-comic-relief);
    
    margin-top: 90px;
    margin-right: 200px;
    margin-left: 200px;
}

a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: rgb(57, 121, 218);
}

video {
    max-height: 350px;
}