.bot-images img {
    max-height: 400px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.bot-images {margin-top: 20px;}

div {margin-bottom: 20px;}

video {max-height: 400px;}
.videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 0px;
}